.mobile {
  display: none;
}

.home {
  flex-direction: row-reverse;
  padding: 5rem;
}

@media only screen and (max-width: 768px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .home {
    flex-direction: column;
    padding: 1.5rem;
  }
}
