.mobile {
  display: none;
}
.desktop {
  display: flex;
}
.w-70-90 {
  width: 70%;
}

@media only screen and (max-width: 820px) {
  .mobile {
    display: flex;
  }
  .desktop {
    display: none;
  }
  .w-70-90 {
    width: 90%;
  }
}
