@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --aui-link-color: #c29c05;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bordering {
  border: 2px solid red;
}

.description-text {
  font-size: calc(1.5rem + 0.2vw);
}

.home-title {
  font-weight: 700;
  font-size: calc(3rem + 1.9vw);
}

.page-title-text {
  font-weight: 700;
  font-size: calc(1.5rem + 1.5vw);
}

.red {
  color: #ee0011;
}

.green {
  color: #22aa77;
}
