@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
  --breakpoint: 768px;
  --yellow: #f6c70c;
  --moon-gray: #ccc;
  --dark-gray: #555;
  --primary: #000;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

.bordering {
  border: 2px solid green;
}

.bg-yellow {
  background-color: var(--yellow);
}
